* {
	margin: 0;
	padding: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}
img {display:block; max-width:100%; }

:root {

	
	--light-shade:#B2F7EF;
	--medium-shade:#7BDFF2; 
	--dust-shade:#EFF7F6;
	--text-soft-white:#EFF7F6;
	--grey:#696969;
	--white:#FFFFFF;
	--black:#000000;
	--hover-lav:#DDA0DD; 
	--hover-peach:#FFEFD5;
	--hover-soft-blue:#B0E0E6;
	--img: url("paint-pink-compressed.jpg");
	
	
}




.container {
	
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, minmax(335px, auto)); /*minmax(340px, auto)*/
	grid-template-areas:
	"name tile1 slogan socials"
	"services about tile2 contact";
}

.text-box {
	
	
	line-height: 1.5;
	font-size: 1.5rem;
	font-family: Montserrat;
	text-align:left;

}



.modal {
	
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-end: 5;
	margin-left: 25rem;
	margin-top: 6rem;
	margin-right: 25rem;
	margin-bottom: 6rem;
	background-color: var(--grey);
	order: 2;
	/*display:block;*/

	display:none;
}





/* Name section */

#name {
	grid-area: name;
	background-color: var(--light-shade);
	
}

#name:hover{
	background-color: var(--hover-soft-blue);
	
}

#name .text-box p {
	padding: 40% 0 40% 30%;
	height: auto;
	color: var(--grey);
}

#name .text-box a {
	width: 100%;
	height: 100%;
	margin: 0;
	text-decoration: none;

}

/* end name */


/* Tile section */

#tile1 {
	grid-area: tile1;
	background-image: var(--img);
	background-repeat: no-repeat, repeat;
	background-size: 120%;
}


#tile2 {
	grid-area: tile2;
	background-image: var(--img);
	background-repeat: no-repeat, repeat;
	background-size: 120%;
}

/* end tile */


/* Slogan section */

#slogan {
	grid-area: slogan;
	background-color: var(--medium-shade);
}

#slogan .text-box p {
	padding: 27% 0 30% 27%;
	height: auto;
	color: var(--text-soft-white);
}

#slogan .text-box a {
	width: 100%;
	height: 100%;
	margin: 0;
	text-decoration: none;

}

#slogan:hover {
	background-color: var(--hover-lav);
	opacity: 0.8;
}

/* end slogan */



/* Socials / icons section */

#socials {
	grid-area: socials;
	background-color: var(--dust-shade);
	
}

#icons {
	padding: 27% 0 10% 45%; 
	
}

#socials #icons i {
	padding: 1rem;
	font-size: 2.5rem;
	color: var(--grey);
}

#icons a {
	text-decoration: none;
	width: 100%;
	height: 100%;
}

#socials:hover {
	background-color: var(--hover-peach);
}
/* end socials */



/* Services section */

#services {
	grid-area: services;
	background-color: var(--medium-shade);

}

#services .text-box p {
	color: var(--text-soft-white);
	padding: 27% 0 30% 25%;
}

#services .text-box a {
	width: 100%;
	height: 100%;
	margin: 0;
	text-decoration: none;
}

#services:hover {
	background-color: var(--hover-lav);
	opacity: 0.8;
}


/* end services */



/* About section */


#about {
	grid-area: about;
	background-color: var(--dust-shade);
}


#about .text-box p {
	padding: 40% 20% 45% 40%;
	color: var(--grey);
}

#about .text-box a {
	width: 100%;
	height: 100%;
	margin: 0;
	text-decoration: none;
}

#about:hover {
	background-color: var(--hover-peach);
	opacity: 0.8;
}

/* end about */


/* Contact section */

#contact {
	grid-area: contact;
	background-color: var(--light-shade);
}

#contact i {
	font-size: 2.5rem;
	color: var(--grey);
	padding: 30% 0 10% 47%;
}

#contact .text-box p {
	padding: 0 0 30% 27%;
	color: var(--grey);
}

#contact .text-box a {
	width: 100%;
	height: 100%;
	margin: 0;
	text-decoration: none;
}

#contact:hover {
	background-color: var(--hover-soft-blue);
}

/* end contact */
